body {
  background-color: rgb(13, 126, 126);
  text-align: center;
}
.myList-container {
  border-radius: 20px;

  background-color: rgb(198, 156, 238);
  width: 40rem;
  margin: 0 auto;
}

.mylang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.language {
  border-radius: 20px;
  background-color: aqua;
  margin: 1rem;
  cursor: pointer;
  padding-top: 20px;
  box-shadow: 3px 3px 5px;
  transition: transform 0.8s;
}
.language:hover img {
  transform: scale(1.2);
}

.language_text {
  text-align: start;
  display: inline-block;
  padding: 40px;
}
/********************************************************************************************************

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4d467;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh; /*burada bodyle sabıt bır yukseklık vermek bızım ıcın daha sonra alttakı dıvlere vermek ısteyecegımız sabıt yukaeklıkler ıcın onem arz eder.
}*/

/**tum componentler ıcın ayrı bır css acmaya gerek tyok. kuvcuk caplı projelerde ındex.css kullanılabılır...*/

/*! Language ıcın Style:
/*********************************/
/**burada verecgımız styleları ılk once tanımladıgımız className gore yapabılırız.*/

/* .lang-card:hover {
  box-shadow: 3px 3px 5px;
}

.lang-logo {
  transition: transform 0.2s;
}
.lang-card:hover .lang-logo {
  transform: scale(1.2);
} */
